.section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.group {
    position: absolute;
    right: 0;
    top: 13px;
}

.butn {
    float: right;

}

.butn:hover {
    color: yellow;

}


label {
    font-weight: 500;
}

.sectionss {
    position: relative;
    border: 0.5px solid transparent;
    // box-shadow: 0px 6px 27px 0px rgba(15, 78, 164, 0.08);
}


@media (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column;
    }

    .group {
        position: relative !important;
        right: 0;
        top: 13px;
    }


}